/* GLOBAL STYLE */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600,600italic,700,700italic,800,800italic);
body {
	color: #5a5a5a;
	font-family: 'Open Sans', sans-serif;
}
a {
	color:#333;
}
.navbar-brand {
	float: left;
	font-size: 18px;
	height: 50px;
	line-height: 20px;
	padding: 0;
}
.navbar-wrapper {
	/*position: absolute;*/
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar.top-nav {
	/* background:white; */
	margin-bottom:0;
}
.carousel {
	height:705px;
}
.carousel-caption {
	z-index: 10;
}
.carousel .item {
	height: 705px;
	background-color: #777;
}
.carousel-inner > .item > img {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	height: 705px;
}
.nav > li > a:hover, .nav > li > a:focus {
	background:none;
}
.blue-section {
	background:#1b4f98;
	text-align:center;
	color:#fff;
	padding:20px 0px;
}
.btn-primary {
	background:none repeat scroll 0 0 #74c005;
	border:none;
}
.btn-primary:hover, .btn-primary:focus {
	background-color: #5d9900;
	background-image: -moz-linear-gradient(center top, #74c005, #5d9900);
	background-repeat: repeat-x;
	color: #ffffff;
}
.blue-section .col-lg-4 > img {
	width: 300px;
}
.bottom-links {
	background: none repeat scroll 0 0 #eeeeee;
	padding: 30px 0px 10px;
}
.bottom-links h6 {
	margin-top:0;
}
ul {
	margin-top:0;
	padding:0;
	list-style-type:none;
}
.bottom-links ul{
	margin-bottom:20px;
	}
.bottom-links li {
	margin-bottom:10px;
	font-size:13px;
}
.bottom-links h6 {
	color: #666666;
	font-size: 13px;
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
}
.blue-section img {
	max-width: 100%;
}
.blue-section-box h2 {
	font-size: 15px;
	font-weight: bold;
	line-height: 1.5;
	text-transform: uppercase;
	margin-bottom:15px;
	margin-top:0;
}
p.blue-box-text {
	min-height:160px;
	padding-top:30px;
	padding-bottom:0;
}
.zsg-footer-linklist a {
	color: #999999;
}
footer.footer-bg {
	background:#000;
}
.footer-nav ul {
	width:100%;
	text-align:center;
	padding:10px 0px;
}
.footer-nav ul li {
	display:inline-block;
	padding:0px 10px;
}
.footer-nav ul li a {
	color:#999;
	text-transform:uppercase;
	font-size:13px;
	font-weight:bold;
}
.follow-us {
	width:100%;
}
.follow-us {
	width:100%;
}
.follow-us ul {
	width:100%;
	text-align:center;
}
.follow-us ul li {
	display:inline-block;
	color:#ccc;
	font-size:13px;
	padding:5px 10px;
}
.follow-us a {
	font-size: 30px;
	vertical-align: middle;
	margin-left:10px;
}

.ui-autocomplete {
z-index: 100;
background-color:#fff;
width:200px;
border: 1px solid #ccc;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */

  .navbar-wrapper .container {
 padding-right: 15px;
 padding-left: 15px;
}
 .navbar-wrapper .navbar {
 padding-right: 0;
 padding-left: 0;
}

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
 border-radius: 4px;
}

  /* Bump up size of carousel content */
  .carousel-caption p {
 margin-bottom: 20px;
 font-size: 21px;
 line-height: 1.4;
}
}
.carousel-fade .carousel-inner .item {
	opacity: 0;
	transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
	opacity: 1;
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right {
	left: 0;
	opacity: 0;
	z-index: 1;
}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right {
	opacity: 1;
}
.carousel-fade .carousel-control {
	z-index: 2;
}
.carousel-fade .carousel-inner .item {
 -webkit-transition: opacity .8s ease-in-out;
 -moz-transition: opacity .8s ease-in-out;
 -ms-transition: opacity .8s ease-in-out;
 -o-transition: opacity .8s ease-in-out;
 transition: opacity .8s ease-in-out;
}
.carousel-inner > .item > img {
	opacity:1;
	-webkit-transition: opacity 3s ease-in-out;
	-moz-transition: opacity 3s ease-in-out;
	-ms-transition: opacity 3s ease-in-out;
	-o-transition: opacity 3s ease-in-out;
	transition: opacity 3s ease-in-out;
}
.carousel-inner > .item.active > img {
	opacity:1;
}
.search-home {
	width:100%;
}
.search-home h1 {
	width:auto;
	float:left;
	position:relative;
	margin:0;
	padding:0px 0px 0px 30px;
	line-height:65px;
	background-color: rgba(27, 80, 152, 0.9);
	color:#fff;
	font-weight:200;
}
.search-home h1 span {
	padding-right:30px;
}
.search-home h1:after {
	border-left: 1em solid rgba(27, 80, 152, 0.9);
	border-top: 65px solid transparent;
	content: "";
	display: inline-block;
	position: absolute;
	top: 0;
}
.search-option-bg {
	background:rgba(0, 116, 228, 0.9);
	padding:20px;
}
.search-options ul {
	margin:0;
}
.search-options ul li {
	display:inline-block;
	position:relative;
	margin-right:10%;
}
.search-options ul li a {
	font-size:18px;
	color:#fff;
	padding-bottom:20px;
	display:block;
}
.search-options ul li a:hover, .search-options ul li a:focus {
	text-decoration:none;
}
.search-options ul li a.active:after {
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
	border-color: transparent transparent #fff;
	border-radius: 0 !important;
	border-style: solid;
	border-width: 0 10px 10px;
	bottom: 0;
	content: "";
	display: inline-block;
	left: 50%;
	margin-bottom: -1px;
	margin-left: -5px;
	position: absolute;
	top: auto;
}
.search-options ul li a.active {
	font-weight:bold;
}
.search-field {
	border:none;
	min-height:38px;
	line-height:38px;
}
.search-btn {
	padding:6px 20px;
	background:#74c005;
	color:#fff;
	border:none;
	cursor:pointer;
	font-size:1.8em;
}
.home-search-main {
	position: absolute;
	width: 100%;
	z-index: 100;
	bottom:30%;
}
.h-search {
	margin:0 auto;
	max-width:700px;
}
.position-r {
	position:relative;
}
.logo {
	position: absolute;
	z-index: 999;
}
.sign-in ul {
	margin:0;
	text-align:right;
}
.sign-in ul li {
	display:inline-block;
	line-height:50px;
}
/*
.sign-in ul li a {
	color:#0074e4;
}
*/
.sign-in ul li:last-child a, .sign-in.t-view a {
	color:#777;
	font-size:18px;
	vertical-align:middle;
	margin-left:5px;
}
.t-view {
	display:none;
}
/*
.nav-option li a {
	padding:15px 20px 10px 0px;
}
*/

.navbar{
margin-bottom:0;	
}

/*
.nav-option li:last-child a {
	padding-right:0;
}
*/

.ui-autocomplete {
            max-height: 100px;
            overflow-y: auto;
            /* prevent horizontal scrollbar */
            overflow-x: hidden;
            /* add padding to account for vertical scrollbar */
            padding-right: 20px;
    }
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */
    * html .ui-autocomplete {
        height: 100px;
    }

.show-hide-link{
	font-weight:bold;
	}
/* 
 .ui-autocomplete-loading {
background: white url("images/loading2.gif") right center no-repeat;
}
*/
.container {
	width: 1280px;
	max-width:100%;
}
.mobile-only {
	display:none;
}
.carousel-inner > .item > img {
	height: 705px;
	left: 0;
	max-width: inherit;
	min-width: 100%;
	overflow-x: auto;
	position: absolute;
	top: 0;
	width: auto;
}
.left.carousel-control.shadow-new {
background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .000) 100%);
background-image:-o-linear-gradient(left, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .000) 100%);
background-image:-webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, .000)));
background-image:linear-gradient(to right, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .000) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
background-repeat:repeat-x;
}
.right.carousel-control.shadow-new {
right:0;
left:auto;
background-image:-webkit-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, 1) 100%);
background-image:-o-linear-gradient(left, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, 1) 100%);
background-image:-webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .0001)), to(rgba(0, 0, 0, 1)));
background-image:linear-gradient(to right, rgba(0, 0, 0, .0001) 0, rgba(0, 0, 0, 1) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
background-repeat:repeat-x;
}
.carousel-control.shadow-new {
	width:11%;
	opacity:1;
	}
.carousel-control.shadow-new:hover, .carousel-control.shadow-new:focus {
opacity:1;
}
.rentals {
  background-color: rgba(51, 51, 51, 0.9);
  bottom: 0;
  min-height: 60px;
  position: absolute;
  width: 100%;
  z-index: 100;
  padding:14px 0px 0px;
  font-size:18px;
}
.rentals a{
	color:#999;
	font-weight:bold;
	display:inline-block;
	}
.rentals a span{
	color:#fff;
	margin-right:15px;
	}
.rentals a:hover{
	text-decoration:none;
	}
.icon-home{
	font-size:28px;
	line-height:10px;
	color:#6dc0ff !important;
	margin-right:15px;
	}
.home-icon{
	float:left;
	}
.txt-align-r{
	text-align:right;
	}
.btn-bg-blue{
	background:#0074e4;
	}
.btn-bg-blue:hover, .btn-bg-blue:focus{
	background:#0074e4;
	}
.btn-bg-blue:hover{
	background:#0f60ba;
	}
.sign-in-data .row {
  margin-top: 20px;
}
.sign-in-data input.form-control.sign-tf {
  border-radius: 0 !important;
  min-height:38px;
}
.contect-with ul{
	width:100%;
	text-align:center;
	margin-bottom:0;
	}
.contect-with ul li{
	display:inline-block;
	line-height:26px;
	padding:0px 3px;
	}
.contect-with ul li a{
	font-size:22px;
	vertical-align:middle;
	}
.contect-with .gplus{
	color:#dd4b39;
	}
.contect-with .fb{
	color:#3b5998;
	}
.mr-t5{
	line-height:32px;
	color:#0074e4;
	}
.sign-tab li{
	font-size:18px;
	}
.nav-tabs.sign-tab > li.active > a, .nav-tabs.sign-tab > li.active > a:hover, .nav-tabs.sign-tab > li.active > a:focus{
	color:#0074e4;
	border:none;
	border-bottom:2px solid #0074e4;
	border-radius:0;
	}
.sign-tab a:focus {
  outline: medium none;
  outline-offset: -2px;
}
.sign-tab > li > a {
  border:none;
}
.new-ac > input {
  margin-right: 10px;
  vertical-align: baseline;
}
.new-ac > label {
  font-weight:normal;
}
.modal-backdrop.in {
  opacity: 0.8;
  background:#fff;
}
.sign-modal{
	margin-top:15%;
	}
.mobile-only.top.shadow-top {
  height: 45px;
  position: absolute;
  top: 0;
  width: 100%;
  background-image:-webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .000) 100%);
background-image:-o-linear-gradient(top, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .000) 100%);
background-image:-webkit-gradient(linear, top left, bottom right, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, .000)));
background-image:linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, .000) 100%);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
background-repeat:repeat-y;
}
@media (max-width:1300px){
.carousel-control.shadow-new {
	width:9%;
	opacity:.9;
	}
	}
@media (max-width:1200px){
.carousel-control.shadow-new {
	width:7%;
	opacity:.7;
	}
	}
@media (max-width:1070px){
.rentals {
	font-size:15px;
	padding-bottom:5px;
	}
.shadow-new{
	display:none;
	}
	}
@media (max-width:965px){
.rentals a span{
	margin-right:6px;
	}
.icon-home {
  margin-right:6px;
}
	}

@media (max-width:860px) {
.t-view {
 display:block;
}
.l-view {
 display:none;
}
.nav-option li a {
 padding: 15px 5px 10px 6px;
 font-size:13px;
}
/*
.logo > img {
 width: 80px;
}
*/
}
 @media (max-width:767px) {
.rentals{
	display:none;
	}
.nav.navbar-nav.nav-option .mobile-only.join {
 margin-bottom:20px;
}
.nav.navbar-nav.nav-option .mobile-only.join a {
 color:#0074e4;
}
.navbar.top-nav {
 background:none;
}
.navbar-wrapper {
 position:absolute;
 z-index:998;
}
/*
.logo > img {
 width: 45px;
}
*/
.mobile-only {
 display:block;
}
.logo-img {
 display:none;
}
.t-view {
 display:none;
}
.top-nav .icon-bar {
 background:#fff;
}
.nav.navbar-nav.nav-option {
 /* background:#fff; */
 border-top:3px solid #0074e4;
 margin-top:0;
 padding:18px;
}
.nav-option li a {
 font-size: 15px;
 padding:9px 0px;
}
.nav.navbar-nav.nav-option a {
 text-transform:uppercase;
}
ul.nav.navbar-nav.nav-option > li > a:after {
 content: "";
 font-family: fontawesome;
 font-size: 26px;
 height: 30px;
 position: absolute;
 right: 0;
 text-align: center;
 width: 30px;
}
ul.nav.navbar-nav.nav-option > li > a:hover {
 color:#0074e4;
}
p.blue-box-text {
 min-height:inherit;
 padding-top:30px;
 padding-bottom:0;
}
.col-sm-4.blue-section-box {
 padding-bottom: 20px;
}
.blue-section {
 padding-bottom:0;
}
.search-home h1 {
 font-size:26px;
}
.home-search-main {
 margin-top:30%;
}
.search-home h1:after {
 border-top: 56px solid transparent;
}
.search-home h1 {
 line-height: 56px;
}

}
 @media (max-width:480px) {
.fwd{
	width:100%;
	}
.carousel {
 height: auto!important;
 margin-bottom: 0px;
}
.home-search-main {
 bottom: 0;
}
.carousel-inner > .item > img {
 height:  250px;
 left: 0;
 max-width: auto;
 overflow-x: auto;
 position: absolute;
 top: 0;
 width: auto;
}
.carousel-inner > .item {
 height:auto;
 min-height:250px;
}
input.form-control.search-field {
 font-size: 12px;
}
.search-home h1 {
 font-size:22px;
}
.home-search-main {
 margin-top:35%;
}
.search-options ul li {
 margin-right:5%;
}
.search-options ul li a {
 font-size:14px;
}
}
